<div class="">
  <div class="">
    <h4 style="color: #808080 ">
      <b><%= @inquiry.name %></b>さんからお問合わせがありました
    </h4>
    <table>
     <tbody>
      <tr>
        <th>
          問い合わせ内容
        </th>
        <td>

          <%= @inquiry.message %>
        </td>
      </tr>
     </tbody>
    </table>
  </div>

</div>
