<div class="notification-box row">

      <div class="col-md-4 col-sm-4 col-xs-6 case">
        <span class=""><%= notification.created_at.strftime("%m月%d日 %H:%M") %></span>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-6 case">
        <strong><%= notification.content %></strong>
      </div>

</div>
