<p class="spot-name">
 <!-- 鎌倉 -->
 <% if @address == "〒248-0014 神奈川県鎌倉市由比ガ浜４丁目" %>
 由比ヶ浜

 <script type="text/javascript">
  function initMap(){

  }
 </script>


 <% elsif @address == "〒248-0024 神奈川県鎌倉市稲村ガ崎１丁目" %>
 稲村ヶ崎

 <% elsif @address == "〒248-0025 神奈川県鎌倉市七里ガ浜東２丁目２" %>
 七里ヶ浜

 <% elsif @address == "〒248-0026 神奈川県鎌倉市七里ガ浜１丁目５" %>
 峰ヶ原

 <% elsif @address == "〒248-0026 神奈川県鎌倉市七里ガ浜２丁目１９" %>
 鎌高前

 <% elsif @address == "〒251-0035 神奈川県藤沢市片瀬海岸１丁目１５" %>
 腰越漁港

 <!-- 藤沢 -->
 <% elsif @address == "〒251-0035 神奈川県藤沢市片瀬海岸２丁目１９" %>
 江ノ島水族館前

 <% elsif @address == "〒251-0037 神奈川県藤沢市鵠沼海岸１丁目１７−３" %>
 銅像前

 <% elsif @address == "〒251-0037 神奈川県藤沢市鵠沼海岸４丁目４−１" %>
 引地川河口

 <% elsif @address == "〒251-0045 神奈川県藤沢市辻堂東海岸４丁目９" %>
 湘洋中学前

 <% elsif @address == "〒251-0045 神奈川県藤沢市辻堂東海岸４丁目３" %>
 辻堂正面

 <% elsif @address == "〒251-0046 神奈川県藤沢市辻堂西海岸３丁目４" %>
 第二駐車場前

 <!-- 茅ヶ崎 -->
 <% elsif @address == "〒251-0046 神奈川県藤沢市辻堂西海岸３丁目３" %>
 汐小前

 <% elsif @address == "〒253-0054 神奈川県茅ヶ崎市東海岸南４丁目" %>
 裏パーク

 <% elsif @address == "〒253-0055 神奈川県茅ヶ崎市中海岸３丁目３" %>
 白樺

 <% elsif @address == "〒253-0061 神奈川県茅ヶ崎市南湖６丁目１８−７" %>
 西浜

 <% elsif @address == "〒253-0064 神奈川県茅ヶ崎市柳島" %>
 柳島

 <% elsif @address == "〒254-0803 神奈川県平塚市千石河岸５７−３０" %>
 馬入


 <% else %>
 <% end %>
</p>
