
<!--ビジョン-->
<div class="about-box">
  <div class="box-circle">
   <div class="circle-top">About</div>
  </div>

  <!--イメージ写真-->
  <div class="image-box">
    <div class="image-case">

        <h3>プレイヤーの</h3>

        <h3>プレイヤーによる</h3>

        <h3>プレイヤーのための</h3>

    </div>
  </div>

  <div class="about-sentence">

  <p><span class="blue">チャレンタ!</span>は全国のどこでもローカルのサーファーからサーフボードを借りれる、日本初のサーフィンのシェアリングサービスです。</p>
  <p>日本は海に囲まれており、全国にサーフィンが盛んな地域(メッカ)があり、そしてそこにはたくさんのサーファー(プレイヤー)がいます。</p>
  <p>メッカに在住するプレイヤー個人から直接サーフボードを借りたり、サーフガイドを受けることができ、今までにない新しい出逢いを提供します!</p>

  </div>
</div>


<!--特徴-->
<div class="about-box">
  <div class="box-circle">
   <div class="circle-top">特徴</div>
   </div>
  <div class="about-sentence">
  <p><span>1.</span>サーファーは使っていない自分のサーフボードを他のサーファーに貸し出すことができます。また他のサーファーのを借りることもできます。</p>

  <p><span>2.</span><span class="blue">チャレンタ!</span>は実名顔出しの登録制をとっており、「誰が貸してくれるのか？誰が借りるのか？」という不安を取り除きます。(※登録していない人には名前や顔は公開されません)</p>

  <p><span>3.</span>万が一レンタル中にサーフボードが破損した場合は<span class="blue">チャレンタ!</span>が間に入って対応し、修理費用の一部を補償します。</p>

  </div>
</div>
<div class="text-center">
  <p><span><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-normal btn-sm " %></span></p>
</div>
