<%= render 'guidance_menu' %>

<h3 class="text-center">チャレンタ!について</h3>

<!--about-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">About</div>
  </div>

  <!--イメージ写真-->
  <div class="image-box">
    <div class="image-case">

      <h3>
        <b>
          プレイヤーの<br>
          プレイヤーによる<br>
          プレイヤーのための
        </b>
      </h3>

    </div>
  </div>

  <div class="about-sentence">

    <h3><span class="blue">チャレンタ!</span>は全国のどこでもローカルのサーファーからサーフボードやボード置き場を借りれる、日本初のサーフィンのシェアリングサービスです。</h3>
    <p>日本は海に囲まれており、全国にサーフィンが盛んな地域(メッカ)があり、そしてそこにはたくさんのサーファー(プレイヤー)がいます。</p>
    <p>メッカに在住するプレイヤー個人から直接サーフボードを借りたり、サーフガイドを受けることができ、今までにない新しい出逢いを提供します!</p>

    <div class="table_container">
      <h4><b>利用例</b></h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>ユーザー</th>
              <th>サーフィン歴(頻度)</th>
              <th>現状</th>
            </tr>
            <tr>
              <td>湘南在住の会社員</td>
              <td>2年(週2回)</td>
              <td>既に1本ボード所有、2本目はいろんなボード試したい!</td>
            </tr>
            <tr>
              <td>東京都在住の会社員</td>
              <td>3年(月2回)</td>
              <td>週末に千葉へ、ローカルのショップと契約中だがロッカー代などの固定費用を削減したい!</td>
            </tr>
            <tr>
              <td>東京都在住の学生</td>
              <td>ビギナー</td>
              <td>サーフィンをやるのは夏のみ、ボードをわざわざ購入したくない!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p>海に入るときだけ借りることも、借りっぱなしもどちらもOK</p>
    <p>全国のサーフスポットで地元のサーファーから直接サーフボードやSUPボード、ボード置き場を借りることができ、ローカルの波にあったボードが揃っています</p>



  </div>
</div>

<!--使い方-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">使い方</div>
  </div>

  <div class="about-sentence">

    <h4><b>検索</b></h4>
    <div class=""><img id="" class="img-responsive" src="/assets/search-image.png" alt="" width="" height="" /></div>
    <p>現在地やサーフスポットから近くのボードとボード置き場を検索でき、ファンボード、ロングボード、ショートボードなどの種類やブランドからの検索にも対応</p>

    <h4><b>チャット</b></h4>
    <div class=""><img id="" class="img-responsive" src="/assets/chat-image.png" alt="" width="" height="" /></div>
    <p>借りたいボードやボード置き場が見つかったら、現地のサーファーとチャットで直接やり取り<p>
      <p>またボードのことだけではなく、波の状態や周辺のおすすめの飲食店なども聞いてみましょう!</p>
  </div>

</div>



<!--特徴-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">特徴</div>
  </div>
  <h3>チャレンタ!の6つの特徴</h3>
  <div class="about-sentence">
    <h4><b>認証</b></h4>
    <p>利用できるのはFacebook、電話番号、身分証(運転免許証、保険証、マイナンバー)で身分が確認できた人だけです<br>
    <p>また実名制とすることで「誰が貸しているの？誰が借りるの？相手は信用できる人なの？」という不安を取り除きます。(※登録していない人には名前や顔は公開されません)</p>

    <h4><b>補償</b></h4>
    <p>万が一ボードをレンタル中に破損が発生した場合には「チャレンタ!」が間に入って対応し、時価に基づいて修理費用を計算しお支払します。(計算方法は後日お知らせ)<p>

    <h4>安心決済</h4>
    <h4>評価制度</h4>
    <h4>手数料無料</h4>

  </div>
</div>


<div class="text-center">
  <p><span><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-normal btn-sm " %></span></p>
</div>
