<div class="about-box legal">
  <h3 class="text-center">特定商取引法に基づく表記</h3>

  <table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">事業者</th>
      <td colspan="3">チャレンタ!</td>
    </tr>
    <tr>
      <th scope="row">運営責任者</th>
      <td colspan="3">川端伸治</td>
    </tr>
    <tr>
      <th scope="row">事業者の所在地</th>
      <td colspan="3">〒251-0041 神奈川県藤沢市辻堂神台2-2-1 アイクロス湘南8階</td>
    </tr>
    <tr>
      <th scope="row">事業者の連絡先</th>
      <td colspan="3">050-3702-8211</td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td colspan="3">s-kawabata[at]digisurf.co.jp&nbsp;[at]を@に変更してください</td>
    </tr>
    <tr>
      <th scope="row">URL</th>
      <td colspan="3">https://www.charenta.com/</td>
    </tr>
    <tr>
      <th scope="row">レンタル販売価格について</th>
      <td colspan="3">レンタル販売価格は、表示された金額(表示価格/消費税込)と致します。</td>
    </tr>
    <tr>
      <th scope="row">商品以外の必要代金</th>
      <td colspan="3">銀行振込時の振込手数料・取引方法により配送費用・支払い時に所定の手数料</td>
    </tr>
    <tr>
      <th scope="row">予約注文方法</th>
      <td colspan="3">当サイトの商品ページより、画面にそって手順を進めてください。</td>
    </tr>
    <tr>
      <th scope="row">代金の支払方法</th>
      <td colspan="3">クレジットカード(VISA,Mastercard)</td>
    </tr>
    <tr>
      <th scope="row">代金の支払時期</th>
      <td colspan="3">ご予約ご注文時</td>
    </tr>
    <tr>
      <th scope="row">商品の受け渡し時期及び方法</th>
      <td colspan="3">入金確認後、各商品詳細の記載の通り</td>
    </tr>
    <tr>
      <th scope="row">返品・返金・交換について</th>
      <td colspan="3">お客様都合による返品・交換は受け付けておりません。又、商品の性質上、返品は承っておりません。</td>
    </tr>

  </tbody>
  </table>


</div>
