<%= render 'guidance_menu' %>

<h3 class="text-center">Q&A</h3>

<div class="qanda-container">

  <div class="qanda-case">
    <h4>会員登録・ログイン・退会について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          会員登録は無料ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            会員登録やクルマの登録は、無料です。<br>
            ※プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          会員登録は無料ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            会員登録やサーフボード類の登録は、無料です。<br>
            ※プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールアドレスで会員登録が出来ない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            「このメールアドレスは登録済です」と表示される場合、ご利用のメールアドレスは、すでにAnycaにご登録済となります。メールアドレスを登録されたアカウントへのログインをお願いいたします。<br>
            ※Anycaは、人同士の信頼関係を重視したサービスとなります。そのため、1人1アカウントの原則を掲げております。ご理解をいただけますと幸いです
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          会員登録は無料ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            会員登録やクルマの登録は、無料です。<br>
            ※プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            Anycaからお送りするメールは[info@anyca.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            Anycaからお送りするメールは[info@anyca.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            Anycaからお送りするメールは[info@anyca.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>

  <div class="qanda-case">
    <h4>取引全般について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          クルマの受け渡しはどのように行うのですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            クルマの受け渡しは、受け渡し時に本人確認をして頂くために、オーナー・ドライバーで対面で行って頂くことを原則としております。両者にとって都合の良い場所・時間をチャット等で相談して決めて頂けたらと思います。<br>
            ベースとなる受け渡し場所については、クルマの登録時にオーナーのご希望に合わせてご設定頂きます。なお、現在Anycaで登録しているオーナーはご自宅・月極駐車場・駅ロータリーなどで設定されているケースが多いです。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          クルマの受け渡しに遅れてしまいそう
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            クルマの受け渡し時刻に間に合わない場合は、直接取引のお相手にご連絡をお願いいたします。さい。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          相手方と連絡が取れない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            取引のお相手とチャット経由での連絡が取れない場合、予約確定済みの取引のお相手であれば、直接お電話をお願いいたします。電話は取引のお相手とのチャットページから確認することが可能となっております。<br>
            ※お客様同士でのご連絡をお願いしております。Anycaでは連絡の代行はおこなっておりません
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          レビューを書く際の注意点
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            レビューは、Anycaが重視する会員同士の信頼関係を築くうえで非常に重要となります。気持ちの良いサービス利用ができるよう、事実に基づいた誠実な記載をお願いいたします。<br>
            ※レビューは一度記入すると削除・修正はできません
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          直接取引・金銭の手渡しをお願いされた
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            直接での取引や金銭授受は会員規約で禁止されております。また、トラブルの原因にもなります。万が一、そのような提案をされた場合には、お手数ですが問い合わせフォームからご連絡ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          Anycaで利用可能なクレジットカードについて
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ドライバー登録時にご登録可能なクレジットカードについては、現在のところVISA、またはMasterCardのみとなっております。<br>
            また、ご本人様名義以外のクレジットカードのご利用はお断りしています。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            Anycaからお送りするメールは[info@anyca.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>




</div>

<script>
  $(".qanda").click(function(){
    var $answer=$(this).find(".qanda-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".sign").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".sign").text("-");
    }
  });

</script>
