<%= render 'guidance_menu' %>

<h3 class="text-center">Q&A</h3>

<div class="about-box">


  <div class="about-sentence">
    <p>お金仕組み 結局いくら掛かる貰える? クレジットカード</p>
    <p>入金サイクル いつ取引完了?いつ入金?</p>
    <p>取引の流れ いつ引き落とされる?</p>
    <p>破損 計算</p>
    <p>Q&A よくある質問</p>
    <p>出品方法 ホスト 出品前に写真撮影 当日ゲストと一緒にキズ確認</p>
  </div>
</div>
