<div class="row" id="refer">



  <div id="" class="col-md-12 col-sm-12 col-xs-12 ">


    <!-- 新着の商品 -->
    <div class="chest" id="home-listings">
      <span class="font-lg">
        <b>
          <% if params[:q][:category1_eq] %>
            <%= params[:q][:category1_eq] %>
          <% else %>
            <%= params[:q][:category2_eq] %>
          <% end %>の検索結果

        </b>
      </span>

      <div class="box" >

        <div class="row listings-list">
         <%= render partial: "listings/listings_list", locals: {listings: @listings} %>
        </div>

      </div>

    </div>


  </div>

</div>
