<div class="about-box rule">
  <h3 class="text-center">利用規約</h3>

    <p>チャレンタ!利用規約(以下「本規約」といいます。)は、川端伸治(以下「当運営者」といいます。)が提供するチャレンタ!(以下「本サービス」といいます。)を利用する際に適用される規約です。本サービスを登録ユーザーとしてご利用になる方は、本サービスご利用にあたって事前に本規約の全文をお読みいただき、同意した上で本サービスを利用するものとします。</p>
    <!-- 第1条 -->
    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       1.本会員とは、チャレンタ!利用規約（以下、「本規約」といいます。）を承認の上、インターネットを使って川端伸治（以下、「当運営者」といいます。）が運営するウェブサイト「チャレンタ!」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当運営者が入会を認めた者をいいます。
     </p>
     <p>
       2.本会員は、本規約に基づき本サービスを利用するものとします。
     </p>
     <p>
       3.本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。
     </p>
     <p>
       4.本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>

    </div>
    <!-- 第2条 -->
    <div class="case">
     <p>
       <b>第2条&nbsp;会員規約の変更</b>
     </p>
     <p>
       当運営者は、本会員に変更内容及び変更の時期を周知することにより、本規約を変更することができるものとします。本規約を変更した場合、サービス料その他の本サービスに関する一切の事項は変更後の規約によるものとします。
     </p>
    </div>
    <!-- 第3条 -->
    <div class="case">
     <p>
       <b>第3条&nbsp;入会</b>
     </p>
     <p>
       1.本会員になろうとする者は、本規約を承認の上、当運営者が指定する書類を当運営者に提出し、その他当運営者の定める手続に従い当運営者に入会を申し込むものとします。
     </p>

     <p>
       2.日本国外に在住の者は入会できません。
     </p>

     <p>
       3.暴力団その他これらに類する団体、組織（以下、「反社会的勢力」といいます。）に現在関与し、又は過去に関与していた者は入会できません。
     </p>

     <p>
       4.当運営者は、本条第2項から前項に定める他、当運営者が本サービスの利用を不適当と判断する者の申込みを、その裁量により、拒絶できるものとします。この場合、当運営者は、拒絶理由の開示を行いません。
     </p>
    </div>
    <!-- 第4条 -->
    <div class="case">
     <p>
       <b>第4条&nbsp;本サービスの内容</b>
     </p>
     <p>
       本サービスは、本会員同士が、サーフボードやSUPボードとその付属品、ボード置き場など(以下、「サーフボード類」といいます。)について、当該サーフボード類の取得及び維持に必要な実費等を共同で負担し、その使用及び管理に関する実質的な権限と責任を分担することを前提として、共同の使用について定めた契約（以下、「共同使用契約」といいます。）を締結し、自己の欲求充足のために主体的な立場においてサーフボード類を共同使用するためのプラットフォームサービスです。本サービス上で共同使用の対象となるサーフボード類を「本サーフボード類」といいます。
     </p>
    </div>
    <!-- 第5条 -->
    <div class="case">
     <p>
       <b>第5条&nbsp;当運営者の役割</b>
     </p>
     <p>
       当運営者は、本サービスを利用して、本サーフボード類を共同使用するために、本会員同士を紹介しますが、本サーフボード類の共同使用の当事者、又は、共同使用契約の当事者にはなりません。
     </p>
    </div>
    <!-- 第6条 -->
    <div class="case">
     <p>
       <b>第6条&nbsp;保有者によるサーフボード類の登録等</b>
     </p>
     <p>
       1.本会員のうち、自己の保有するサーフボード類を、本サービスを利用して共同使用させようとする者は、当運営者の定める手続に従い保有者として登録し、提供する必要があります（以下、登録された者を「保有者」といいます。）。
     </p>
     <p>
       2.保有者は、以下のサーフボード類を本サービスに登録し又は提供してはならないものとします。但し、当運営者が特に認めた場合はこの限りではありません。<br>

       a.自己の所有するサーフボード類以外のもの<br>
       b.当運営者が別に定める台数を超えるもの<br>
       c.不正な改造をしたもの<br>
       d.安全にサーフィンできないおそれのあるもの<br>
       e.破損、汚損しているもの<br>
       f.法令又は契約等で共同使用又は運行を禁じられているもの<br>
       g.その他当運営者が不適当と判断するもの
     </p>
     <p>
       ３.前項aにかかわらず、当運営者は、保有者以外の第三者が所有するサーフボード類であっても、次の条件をすべて満たしているサーフボード類については、本サービスに登録し又は提供することを承認する場合があります。ただし、当運営者は、その裁量によりいつでも承認を取り消すことができるものとします。<br>
       ａ.所有者が保有者の２親等以内の親族である場合、または、保有者に対する金銭消費貸借の担保のために所有権を留保している者若しくは担保のために所有権の譲渡を受けた者である場合であること<br>
       ｂ.本サービスを利用して共同使用させることについて承諾する旨の所有者が作成した書面を当運営者が求めたときに保有者が当運営者に提出すること
     </p>
     <p>
       ４.前項により、本サービスに登録し又は提供することを承認された場合、保有者は、前項ａの条件を満たさなくなったとき、または、所有者が本サービスを利用して共同使用させることについての承諾を取り消したときは、直ちに当運営者に報告するとともに、当該サーフボード類を本サービスに登録し又は提供することを中止するものとします。また、当運営者により承認が取り消された場合、保有者は、当該サーフボード類を本サービスに登録し又は提供することを中止するものとします。
     </p>
    </div>
    <!-- 第7条 -->
    <div class="case">
     <p>
       <b>第7条&nbsp;共同使用の手続き等</b>
     </p>
     <p>
       １.本会員は、本サーフボード類を共同使用しようとする場合、当運営者の定める手続に従い共同使用候補者（以下、「候補者」といいます。）として登録し、保有者に対し、当運営者の定める手続に従いリクエストを行うものとします。
     </p>
     <p>
       ２.保有者は、候補者からリクエストを受け取った場合、当該リクエストを承認することができます。当該リクエストは、保有者が承認したことをもって、確定するものとします。なお、当運営者が定める期間内に保有者が承認しない場合、当該リクエストは、自動的に、リクエスト時に遡って無効となります。
     </p>
     <p>
      ３.リクエストが確定した場合、保有者と候補者（その後の共同使用者を含みます。）は、相互に連絡を取り合い、共同使用契約を締結した上で、本サーフボード類を共同使用するものとします。なお、共同使用契約に基づき本サーフボード類を保有者とともに共同使用する本会員を「共同使用者」といいます。
     </p>
     <p>
      ４.本会員は、共同使用契約の有効期間を6ヶ月以上とするものとし、6ヶ月未満の共同使用契約を締結してはならないものとします。また、本会員は、共同使用契約において、事故その他のトラブルが発生した場合に生じる損害への対応について、予め取り決めを行うものとします。
     </p>
     <p>
      ５.保有者は、当運営者が定める上限金額を越える共同使用料を設定し、又は共同使用者に請求してはならないものとします。
     </p>
     <p>
      ６.保有者と共同使用者の間に有効な共同使用契約が存在する場合、共同使用者は、当運営者の定める手続に従い個別の使用の申込を行い、保有者が当該申込を承諾したときは、保有者と適宜に連絡を取り合い、本サーフボード類を使用するものとします。
     </p>

     <p>
       １０.保有者並びに共同使用者及び副使用者は、本サービスを通じて知った相手方の秘密情報（個人情報及びプライバシーに関する情報を含みます。）を正当な理由なく第三者に開示してはならないものとします。
     </p>

    </div>
    <!-- 第8条 -->
    <div class="case">
     <p>
       <b>第8条&nbsp;共同使用者及び副使用者の義務等</b>
     </p>

     <p>
      １.共同使用者は、共同使用契約に基づき、本サーフボード類の使用前及び共同使用契約の有効期間中適切に本サーフボード類の点検を行い、不備があった場合は直ちに指摘する等、保有者と共同して、本サーフボード類の管理を行うものとします。
     </p>
     <p>
      ２.共同使用者は、前項の点検の結果、本サーフボード類の適切な利用を妨げる問題を認識した場合、本サーフボード類の使用を停止しなければならないものとし、保有者と連携して速やかに問題を解決するものとします。
     </p>
     <p>
      ３.共同使用者は、他人に本サーフボード類を使用させないものとします。但し、当運営者が別途定める手続に基づき、共同使用者が、本会員の中から、本サーフボード類を使用させる者として別途指定した場合で、保有者が特に認めた場合はこの限りではありません（係る場合における、本サーフボード類を使用させる者として、当運営者が別途定める手続に基づき保有者に認められた本会員を「副使用者」といいます）。なお、当該副使用者による本規約の違反、事故等によって保有者又は当運営者に損害を与えた場合には、共同使用者自ら保有者又は当運営者に対して損害を与えたものとみなし、共同使用者自らが保有者及び当運営者に対して一切の責任を負うものとします。
     </p>
     <p>
      ４.共同使用者は、法令を遵守し、事故を起こさないよう安全に本サーフボード類を使用するものとします。
     </p>
     <p>
      ５.共同使用者は、本サーフボード類を改造してはならないものとします。
     </p>

     <p>
      ６.共同使用者は、本サーフボード類を破損、汚損、故障、紛失する等してはならないものとします。共同使用者は、本サーフボード類の破損、汚損、故障、紛失等により、保有者に損害を与えた場合には、その損害の一部または全てを賠償するものとします。
     </p>
     <p>
      ７.本条第4項に基づき、共同使用者たる他の本会員の副使用者となった本会員には、本サーフボード類の使用に際して、本条第5項から第9項により共同使用者に課される義務が準用されるものとします。
     </p>
     <p>
      １１.共同使用者は、本サーフボード類を副使用者に使用させるに際して、本サーフボード類の副使用者から財物を受領してはならないものとします。
     </p>
    </div>
    <!-- 第9条 -->
    <div class="case">
     <p>
       <b>第9条&nbsp;情報提供</b>
     </p>
     <p>
      １.当運営者は、本会員に対して、必要に応じて、本サービスの利用に関する事項（共同使用契約の内容、本サーフボード類の管理に関する事項、共同使用料の設定に関する根拠を含みます。）について、情報の提供を求め、また、資料（共同使用料の設定の根拠となる契約書、書類等を含みます。）の提出を求めることができます。
     </p>
     <p>
      ２.当運営者が前項の求めを行なった場合、本会員は、3日以内（当運営者が別途期限を定めた場合には当該期間内）に、当運営者に対し、当運営者が定めた方法により、当運営者が求める情報の提供を行い、また、資料を提出しなければならないものとします。当運営者は、情報の提供及び資料の提出に係る費用を負担しないものとします。
     </p>
    </div>
    <!-- 第10条 -->
    <div class="case">
     <p>
       <b>第10条&nbsp;通信端末及びID、パスワード</b>
     </p>
     <p>
       １．本会員は、当運営者が付与する認証用データを記録した携帯電話端末等の通信端末（以下、「通信端末」といい、当該通信端末が通信を行うためにSIMカード等のICカード等が必要な場合、当該ICカード等も含みます。）、ID、及びパスワードの管理責任を自ら負うものとします。
     </p>
     <p>
       ２．本会員は、会員資格を有する間、通信端末、ID及びパスワードを第三者に利用させ、又は、貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
     <p>
       ３．通信端末、ID及びパスワードの管理不十分、使用上の過誤、及び第三者の使用等による損害の責任は本会員が自ら負うものとし、当運営者は一切責任を負いません。
     </p>
     <p>
       ４．本会員は、ID若しくはパスワードを第三者に知られた場合、又は通信端末を第三者に使用されるおそれのある場合には、直ちに当運営者にその旨連絡するとともに、当運営者の指示がある場合にはこれに直ちに従うものとします。
     </p>

    </div>
    <!-- 第11条 -->
    <div class="case">
     <p>
       <b>第11条&nbsp;本会員記述情報について</b>
     </p>
     <p>
       1.本会員記述情報とは、本サービス内にて本会員が記述したすべての情報をいいます。本会員記述情報に関しては、これを記述した者が全責任を負うものとします。本会員は以下のいずれかに該当する情報を記述することはできません。<br>
       ａ.真実でないもの<br>
       ｂ.他人の名誉又は信用を傷つけるもの<br>
       ｃ.わいせつな表現又はヌード画像を含むもの<br>
       ｄ.詐欺的、虚偽的、欺瞞的である、若しくは誤解を招くもの<br>
       ｅ.個人又は団体に対して差別、偏見、人種差別、憎悪、嫌がらせ又は侵害を助長するもの<br>
       ｆ.暴力的若しくは脅迫的である、又は他者に対して暴力的若しくは脅迫的な行為を助長するもの<br>
       ｇ.特許権、実用新案権、意匠権、商標権、著作権、肖像権その他の第三者の権利を侵害するもの<br>
       ｈ.コンピューターウィルスを含むもの<br>
       ｉ.公序良俗に反するもの<br>
       ｊ.法令に違反するもの又は違反する行為を助長するもの<br>
       ｋ.当運営者の認めるサイト以外のサイトへのリンク、ＵＲＬ<br>
       ｌ.第三者の個人（副使用者を除く）に関する情報を含むもの<br>
       ｍ.その他当運営者が不適当と判断したもの
     </p>
     <p>
       2.当運営者は、本会員記述情報が本規約に違反する場合、その他の当運営者が不適当と判断した場合には、本会員記述情報を削除することができるものとします。
     </p>
     <p>
       3.当運営者は、本サービスの提供又は利用促進のため、本会員記述情報を無償で複製その他の方法により利用することができるものとします。
     </p>

    </div>
    <!-- 第12条 -->
    <div class="case">
     <p>
       <b>第12条&nbsp;個人情報について</b>
     </p>
     <p>
      １.本会員になろうとする者は、当運営者所定の情報を当運営者に登録する必要があります。
     </p>
     <p>
      ２.本会員のニックネーム、保有者が本サーフボード類を保管する場所情報、その他公開対象であることを当運営者が本サービスにおいて告知する項目は、本サービス上で当運営者が定める期間、公開されます。
     </p>
     <p>
      ３.前項に定める情報の他、本会員の氏名、住所、電話番号その他リクエスト確定後リクエストの送受信の相手方に対し表示されることを当運営者が本サービスにおいて告知する項目は、本サービス上で、当運営者が定める期間、当該相手方に表示されます。
     </p>
     <p>
      ４.当運営者は、本会員の個人情報を以下の目的で利用することができるものとします。なお、当運営者は、本サービスを通じて、本会員の通信端末（OBD-II端末を含む。）の位置情報を取得します。<br>
      ａ.カーナビゲーション、交通情報、駐車場情報その他の情報提供サービス、システム利用サービス、ゲーム、オークション、ショッピングモール、コンテンツの提供のため<br>
      ｂ.当運営者及び第三者の商品等（旅行、保険その他の金融商品を含みます。以下同じ。）の販売、販売の勧誘、発送、サービス提供のため<br>
      ｃ.当運営者及び第三者の商品等の広告又は宣伝（ダイレクトメールの送付、電子メールの送信を含みます。）のため<br>
      ｄ.サービス料請求、課金計算のため<br>
      ｅ.本人確認、認証サービスのため<br>
      ｆ.アフターサービス、問い合わせ、苦情対応のため<br>
      ｇ.アンケートの実施のため<br>
      ｈ.懸賞、キャンペーンの実施のため<br>
      ｉ.アフィリエイト、ポイントサービスの提供のため<br>
      ｊ.マーケティングデータの調査、統計、分析のため<br>
      ｋ.決済サービス、物流サービスの提供のため<br>
      ｌ.新サービス、新機能の開発のため<br>
      ｍ.システムの維持、不具合対応のため<br>
      ｎ.本会員記述情報の掲載のため
     </p>
     <p>
       ５.当運営者は、以下に定める場合には、本会員の個人情報を第三者に提供することができるものとします。<br>
       ａ.本会員の同意がある場合<br>
       ｂ.裁判所、検察庁、警察、税務署、弁護士会又はこれらに準じた権限を有する機関から開示を求められた場合<br>
       ｃ.本会員が当運営者に対し支払うべきサービス料その他の金員の決済を行うために、金融機関、クレジットカード会社、回収代行業者その他の決済又はその代行を行う事業者に開示する場合<br>
       ｄ.当運営者が行う業務の全部又は一部を第三者に委託する場合<br>
       ｅ.当運営者に対して秘密保持義務を負う者に対して開示する場合<br>
       ｆ.当運営者の権利行使に必要な場合<br>
       ｇ.合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合<br>
       ｈ.個人情報保護法その他の法令により認められた場合
     </p>
     <p>
       ６.当運営者は、本会員に対し、第三者の広告又は宣伝等のために電子メールその他の広告宣伝物を送信できるものとし、本会員はこれを予め承諾するものとします。
     </p>
     <p>
       ７.本会員は個人情報保護法に違反する行為を行ってはならないものとします。
     </p>
    </div>
    <!-- 第13条 -->
    <div class="case">
     <p>
       <b>第13条&nbsp;本会員規約の違反等について</b>
     </p>
     <p>
       １.本会員が以下の各号のいずれかに該当した場合、当運営者は、当運営者の定める期間、本サービスの利用を認めないこと、又は、本会員の会員資格を取り消すことができるものとします。但し、この場合も当運営者が受領した金員（サービス料を含みます。）を返還しないものとします。<br>
       ａ.会員登録申込みの際の個人情報登録、及び本会員となった後の個人情報変更において、その内容に虚偽若しくは不正があった場合、又は重複した会員登録があった場合<br>
       ｂ.本サービスを利用せずに1年以上が経過した場合<br>
       ｃ.他の本会員又は第三者に不当に迷惑をかけたと当運営者が判断した場合<br>
       ｄ.本サーフボード類に関して事故を起こした場合<br>
       ｅ.反社会的勢力と不適切な関係にあると当運営者が判断した場合
       ｆ.本規約に違反した場合<br>
       ｇ.道路交通法、道路運送法その他の法令に違反した場合又は法令に違反する行為を助長した場合<br>
       ｈ.当運営者からの警告又は改善要求に従わない場合<br>
       ｉ.その他、本会員として不適切であると当運営者が判断した場合
      </p>
      <p>
       ２.当運営者が会員資格を取り消した本会員は再入会することはできません。
      </p>
      <p>
       ３.当運営者の措置により本会員に損害が生じても、当運営者は、一切損害を賠償しません。
      </p>

    </div>
    <!-- 第14条 -->
    <div class="case">
     <p>
       <b>第14条&nbsp;サービスの提供条件</b>
     </p>
     <p>
       １.当運営者は、メンテナンス等のために、本会員に通知することなく、本サービスを停止し、又は変更することがあります。
     </p>
     <p>
       ２.本サービスを利用するために必要な本サーフボード類、保険、機器、通信手段などは、本会員の費用と自らの責任で備えるものとします。
     </p>
     <p>
       ３.当運営者は、本サービスに中断、中止その他の障害が生じないことを保証しません。
     </p>
     <p>
       ４.当運営者は、当運営者が提供する本サービスを現状有姿で提供するものであり、本サービスが正常に動作すること及び本サービスに瑕疵のないことを保証しません。
     </p>
     <p>
       ５.電波の状況、通信端末の機能上の制限、設定その他の事情により、本サービスの提供を受けられないことがあります。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第15条&nbsp;禁止事項</b>
     </p>
     <p>
       本会員は、以下の行為を行ってはならないものとします。<br>
       ａ.本サービス（当運営者が提供するアプリケーションを含みます。）、当運営者が保有するサーバー及びこれらが生成する情報、通信内容等の解読、解析、逆コンパイル、逆アセンブル又はリバースエンジニアリング<br>
       ｂ.他の本会員の個人情報、又は本会員記述情報を違法、不適切に収集、開示その他利用すること<br>
       ｃ.他の個人若しくは団体になりすまし、又は他の個人若しくは団体と関係があるように不当に見せかけること<br>
       ｄ.他の本会員のID、パスワードを入手しようとすること<br>
       ｅ.迷惑メール、チェーンメール、ウィルス等の不適切なデータを送信すること<br>
       ｆ.ボットなどの自動化された手段を用いて本サービスを利用すること<br>
       ｇ.本サービスを変更又は妨げることを目的に利用すること<br>
       ｈ.本サービスのバグ、誤動作を利用すること<br>
       ｉ.詐欺的行為をすること<br>
       ｊ.その他当運営者が不適当と判断するもの

     </p>
    </div>

    <div class="case">
     <p>
       <b>第16条&nbsp;支払い</b>
     </p>
     <p>
       １.共同使用者は、保有者に対して、共同使用契約に基づき、共同使用料及びキャンセル料を支払うものとします。
     </p>
     <p>
       ２.共同使用者は、当運営者に対して、共同使用契約に基づく共同使用料及びキャンセル料の立替払を行う権限を付与するものとし、当該権限の付与は当運営者が承認した場合を除き、撤回することができないものとします。当運営者は、立替払を行なった場合、共同使用者に対する求償権を取得するものとします。
     </p>
     <p>
       ３.共同使用者は、当運営者が立替払を拒絶した場合を除き、共同使用料及びキャンセル料を直接保有者に支払ってはならないものとし、万一、直接支払った場合でも、当運営者が保有者に支払った金額を当運営者に対して支払う義務を負うものとします。
     </p>
     <p>
       ４.本会員は、以下の事項を承諾するものとします。<br>
       a.共同使用契約に基づく共同使用料及びキャンセル料について、当運営者が保有者に対して支払を保証することにより、共同使用者に対して事前の求償権を取得すること<br>
       b.共同使用者が決済に用いるクレジットカードの会員規約その他の規程の定めにかかわらず、当運営者が、前号に定める事前の求償権を、共同使用者に対する代金支払請求権として扱うこと<br>
       c.当運営者が、前号に定める代金支払請求権を、Stripeに譲渡すること
     </p>
     <p>
       ５.保有者は、当運営者に対し、当運営者が別途定めるサービス料その他の料金を、当運営者が別途定める期日までに支払うものとします。
     </p>
     <p>
       ６.当運営者は、共同使用者からの立替払いの申請を承認した場合、共同使用料からサービス料を差し引いた残額を、保有者に対し、当運営者が別途定める期日までに、保有者が指定する金融機関口座に振込送金する方法により立替払いするものとします。なお、振込手数料は保有者の負担とします。
     </p>
     <p>
       ７.当運営者は、保有者が誤った金融機関口座を振込先として指定したことによって生じた損害や不利益について、一切責任を負いません。
     </p>
     <p>
       ８.当運営者は、弁済期の到来の前後にかかわらず、当運営者が保有者に対し支払うべきサービス料と当運営者が保有者に対して有する債権とを相殺することができるものとします。
     </p>
     <p>
       ９.本会員は、当運営者の定める期日までに当運営者に対する債務を支払わなかった場合、当運営者に対し、支払期日の翌日より年１４．６パーセントの割合による遅延損害金を支払うものとします。
     </p>

    </div>

    <div class="case">
     <p>
       <b>第17条&nbsp;支払いの拒絶</b>
     </p>
     <p>
       １.当運営者は、前条にかかわらず、以下の各号に該当した場合には、共同使用料又はキャンセル料の立替払いを拒絶することができるものとします。また、既に共同使用料又はキャンセル料を支払済の場合、当運営者は、保有者に対し、支払済の共同使用料及びキャンセル料の返還を請求することができるものとします。<br>
       ａ.保有者と共同使用者の共同使用契約又は個別の本サーフボード類の使用についての合意が解除され、取消され、若しくは無効となった場合（但し、一旦発生したキャンセル料については、取消又は無効の場合を除き、本号を適用しません。）<br>
       ｂ.保有者と共同使用者が本サービスを経由しないで、共同使用契約又は個別の本サーフボード類の使用についての合意をした場合<br>
       ｃ.共同使用者の立替払いの申請について当運営者が承認していない場合<br>
       ｄ.共同使用料又はキャンセル料にかかる決済が、共同使用者以外の者の名義で行われた場合<br>
       ｅ.共同使用者又はクレジットカードの名義人が決済の対象となる本サーフボード類の共同使用契約又は個別の本サーフボード類の使用についての合意について覚え無し、金額相違等の異義を申し出た場合<br>
       ｆ.保有者が決済の対象となる本サーフボード類の共同使用契約又は個別の本サーフボード類の使用についての合意の取引記録を保管していなかったとき、又は当該記録にもとづく取引に関わる書類の提出に応じなかった場合<br>
       ｇ.共同使用者又はクレジットカードの名義人から共同使用料又はキャンセル料の支払拒絶・支払留保等の申出を受けた場合<br>
       ｈ.クレジットカードが不正に利用された場合<br>
       ｉ.保有者と共同使用者の共同使用契約又は個別の本サーフボード類の使用についての合意が実態のない疑いがあると当運営者が判断した場合<br>
       ｊ.保有者と共同使用者の共同使用契約又は個別の本サーフボード類の使用についての合意が不正なものであると当運営者が判断した場合<br>
       ｋ本会員が本規約に違反した場合<br>
       ｌ.その他当運営者が不適当と判断した場合
     </p>
     <p>
       ２.前項の場合、保有者は、共同使用者に対し、共同使用料及びキャンセル料を直接請求するものとします。
     </p>
     <p>
       ３.当運営者が支払を留保した場合でも、利息は付さないものとします。
     </p>

    </div>

    <div class="case">
     <p>
       <b>第18条&nbsp;クーポン</b>
     </p>
     <p>
       １.クーポンとは、本サービスにおいて、共同使用料又はキャンセル料に充当できるクーポンをいいます。
     </p>
     <p>
       ２.本会員は、クーポンを他の利用者その他第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
     <p>
       ３.クーポンの有効期間は、当運営者の指定する期間とし、有効期間を経過した場合、未使用分のクーポンは消滅するものとします。
     </p>
     <p>
       ４.前項に関わらず、本会員が会員資格を喪失した場合、未使用分のクーポンも消滅するものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第19条&nbsp;コンテンツ使用許諾の条件</b>
     </p>
     <p>
       １.本会員は、本サービスのコンテンツを、電気通信回線を通じて当運営者の指定する設備に接続することによって当運営者の定める範囲内でのみ使用することができるものとします。
     </p>
     <p>
       ２.本サービス内で当運営者が提供する全てのコンテンツに関する権利は当運営者又は当運営者にコンテンツの配信を許諾若しくはコンテンツの配信を委託した権利者に帰属するものとし、本会員に対し、当運営者が有する特許権、実用新案権、意匠権、商標権、著作権、ノウハウその他の知的財産権の実施又は使用許諾をするものではありません。
     </p>
     <p>
       ３.本会員は、本サービスにおいて配信されるコンテンツをいかなる方法によっても複製、送信、譲渡、貸与、翻訳、翻案その他の利用をすることはできないものとします。
     </p>
     <p>
       ４.本会員は、本サービスのコンテンツにつき再使用許諾をできないものとします。
     </p>
     <p>
       ５.本サービスのコンテンツの使用許諾は、非独占的なものとします。
     </p>
     <p>
       ６.当運営者は、各コンテンツの使用権の有効期間を変更することができるものとします。
     </p>
     <p>
       ７.退会等により本会員が会員資格を喪失した場合は、本会員のコンテンツの使用権も消滅するものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第20条&nbsp;当運営者の責任</b>
     </p>
     <p>
       １.当運営者は、本サービスの内容、並びに本会員が本サービスを通じて入手したコンテンツ及び情報等について、その完全性、正確性、確実性、有用性等につき、一切責任を負いません。
     </p>
     <p>
       ２.共同使用契約又は個別の本サーフボード類の使用についての合意は、保有者及び共同使用者の間においてのみ成立し、当運営者は、契約の成否又は契約に基づく権利若しくは義務について、一切責任を負いません。
     </p>
     <p>
       ３.当運営者は、本サーフボード類に関する一切の事項について何らの責任を負いません。
     </p>
     <p>
       ４.当運営者は、保有者、共同使用者及び副使用者に関する一切の事項について何らの責任を負いません。
     </p>
     <p>
       ５.本会員は法律の範囲内で本サービスをご利用ください。本サービスの利用に関連して本会員が日本又は外国の法律に触れた場合でも、当運営者は一切責任を負いません。
     </p>
     <p>
       ６.本規約において当運営者の責任について規定していない場合で、当運営者の責めに帰すべき事由により本会員に損害が生じた場合、当運営者は、１万円を上限として賠償するものとします。
     </p>
     <p>
       ７.当運営者は、当運営者の故意又は重大な過失により本会員に損害を与えた場合には、その損害を賠償します。
     </p>
     <p>
       ８.当運営者は、本サービスに関して、本会員同士又は本会員と第三者との間で発生した一切のトラブルについて、関知しません。したがって、これらのトラブルについては、当事者間で話し合い、訴訟などにより解決するものとします。
     </p>
     <p>
       ９.当運営者は、トラブルが発生した場合、本会員に対して事情の説明を求めることができるものとし、この場合、本会員は当運営者に対し、直ちに、当運営者の指定する方法により事情を説明（当運営者が求める場合には必要な資料を添付）しなければならないものとします。この場合、当該事情の説明等に関する費用は、本会員が自ら負担するものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第21条&nbsp;登録事項の変更</b>
     </p>
     <p>
       １.本会員は、登録事項に変更のあった場合、すみやかに当運営者の定める手続により当運営者に届け出るものとします。この届出のない場合、当運営者は、登録事項の変更のないものとして取り扱うことができるものとします。
     </p>
     <p>
       ２.本会員は、登録事項を変更したことを当運営者に届け出なかった場合、本サービスを利用できなくなることがあります。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第22条&nbsp;当運営者からの通知</b>
     </p>
     <p>
       当運営者からの通知は、当運営者に登録されたメールアドレスにメールを送信すること又は当運営者が提供する本サービスの機能を用いた通知方法をもって行い、メール又は本サービスの機能による通知が通常到達すべきときに到達したものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第23条&nbsp;サービス廃止</b>
     </p>
     <p>
       当運営者は当運営者の都合によりいつでも本サービスを廃止できるものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第24条&nbsp;退会</b>
     </p>
     <p>
       １.本会員は、当運営者の定める手続に従い退会することができます。
     </p>
     <p>
       ２.当運営者は、本会員が退会した場合も当運営者が受領した金員（サービス料を含みます。）を返還しないものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第25条&nbsp;準拠法</b>
     </p>
     <p>
       本サービスその他の本規約に関する準拠法は日本法とします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第26条&nbsp;管轄裁判所</b>
     </p>
     <p>
      本サービスに関し、本会員と当運営者との間で訴訟が生じた場合、横浜地方裁判所を第１審の専属的管轄裁判所とします。
     </p>
    </div>

    <p class="float-right">以上</p>


</div>
