<div class="about-box rule">
  <h3 class="text-center">利用規約</h3>

  <div class="">

    <p>チャレンタ!利用規約(以下「本規約」といいます。)は、チャレンタ!(以下「当社」といいます。)が提供するチャレンタ!(以下「本サービス」といいます。)を利用する際に適用される規約です。本サービスを登録ユーザーとしてご利用になる方は、本サービスご利用にあたって事前に本規約の全文をお読みいただき、同意した上で本サービスを利用するものとします。</p>

    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       １．本会員とは、Anyca会員規約（以下、「本規約」といいます。）を承認の上、インターネットを使って株式会社ディー・エヌ・エー（以下、「当社」といいます。）が運営するウェブサイト及び通信端末用アプリケーション「Anyca」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当社が入会を認めた者をいいます。<br>
       ２．本会員は、本規約に基づき本サービスを利用するものとします。<br>
       ３．本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。<br>
       ４．本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第2条&nbsp;会員規約の変更</b>
     </p>
     <p>
       当社は、本会員に変更内容及び変更の時期を周知することにより、本規約を変更することができるものとします。本規約を変更した場合、サービス料その他の本サービスに関する一切の事項は変更後の規約によるものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第3条&nbsp;入会</b>
     </p>
     <p>
       １．本会員になろうとする者は、本規約を承認の上、当社が指定する書類を当社に提出し、その他当社の定める手続に従い当社に入会を申し込むものとします。<br>
       ２．未成年者は入会できません。<br>
       ３．日本国外に在住の者は入会できません。<br>
       ４．法人その他の団体（法人格の有無を問いません。）は入会できません。<br>
       ５．暴力団その他これらに類する団体、組織（以下、「反社会的勢力」といいます。）に現在関与し、又は過去に関与していた者は入会できません。<br>
       ６．大型免許、中型免許若しくは普通免許又は大型第二種免許、中型第二種免許若しくは普通第二種免許（道路交通法第84条）を公安委員会から受けていない者は入会できません。<br>
       ７．当社は、本条第2項から前項に定める他、当社が本サービスの利用を不適当と判断する者の申込みを、その裁量により、拒絶できるものとします。この場合、当社は、拒絶理由の開示を行いません。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第4条&nbsp;本サービスの内容</b>
     </p>
     <p>
       本サービスは、本会員同士が、自動車について、当該自動車の取得及び維持に必要な実費等を共同で負担し、その使用及び管理に関する実質的な権限と責任を分担することを前提として、共同の使用について定めた契約（以下、「共同使用契約」といいます。）を締結し、自己の欲求充足のために主体的な立場において自動車を共同使用するためのプラットフォームサービスです。本サービス上で共同使用の対象となる自動車を「本自動車」といいます。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第5条&nbsp;当社の役割</b>
     </p>
     <p>
       当社は、本サービスを利用して、本自動車を共同使用するために、本会員同士を紹介しますが、本自動車の共同使用の当事者、又は、共同使用契約の当事者にはなりません。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第6条&nbsp;保有者による自動車の登録等</b>
     </p>
     <p>
       １．本会員のうち、自己の保有する自動車を、本サービスを利用して共同使用させようとする者は、当社の定める手続に従い保有者として登録し、提供する必要があります（以下、登録された者を「保有者」といいます。）。<br>
       ２．保有者は、以下の自動車を本サービスに登録し又は提供してはならないものとします。但し、当社が特に認めた場合はこの限りではありません。<br>
        <span class="packet">
          ａ．自家用自動車（道路運送法第78条柱書）以外のもの<br>
          ｂ．自動車登録番号標（道路運送車両法第11条）に、自動車登録規則第13条第1項第2号にいうアラビア数字として「３、３０から３９まで及び３００から３９９まで」又は「５、７、５０から５９まで、７０から７９まで、５００から５９９まで及び７００から７９９まで」以外のものが表示されたもの<br>
          ｃ．自動車登録規則第13条第1項第3号にいう平仮名又はローマ字として「わ」又は「れ」文字が表示されたもの<br>
          ｄ．自己の所有する自動車以外のもの<br>
          ｅ．当社が別に定める台数を超えるもの<br>
          ｆ．不正な改造をしたもの<br>
          ｇ．安全な運行のできないおそれのあるもの<br>
          ｈ． 破損、汚損しているもの<br>
          ｉ．法令又は契約等で共同使用又は運行を禁じられているもの<br>
          ｊ．その他当社が不適当と判断するもの
        </span>
       <br>
       ３．前項ｄにかかわらず、当社は、保有者以外の第三者が所有する自動車であっても、次の条件をすべて満たしている自動車については、本サービスに登録し又は提供することを承認する場合があります。ただし、当社は、その裁量によりいつでも承認を取り消すことができるものとします。<br>
        <span class="packet">
          ａ．所有者が保有者の２親等以内の親族である場合、または、保有者に対する金銭消費貸借の担保のために所有権を留保している者若しくは担保のために所有権の譲渡を受けた者である場合であること<br>
          ｂ．本サービスを利用して共同使用させることについて承諾する旨の所有者が作成した書面を当社が求めたときに保有者が当社に提出すること
        </span>
       <br>
       ４．前項により、本サービスに登録し又は提供することを承認された場合、保有者は、前項ａの条件を満たさなくなったとき、または、所有者が本サービスを利用して共同使用させることについての承諾を取り消したときは、直ちに当社に報告するとともに、当該自動車を本サービスに登録し又は提供することを中止するものとします。また、当社により承認が取り消された場合、保有者は、当該自動車を本サービスに登録し又は提供することを中止するものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       １．本会員とは、Anyca会員規約（以下、「本規約」といいます。）を承認の上、インターネットを使って株式会社ディー・エヌ・エー（以下、「当社」といいます。）が運営するウェブサイト及び通信端末用アプリケーション「Anyca」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当社が入会を認めた者をいいます。<br>
       ２．本会員は、本規約に基づき本サービスを利用するものとします。<br>
       ３．本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。<br>
       ４．本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       １．本会員とは、Anyca会員規約（以下、「本規約」といいます。）を承認の上、インターネットを使って株式会社ディー・エヌ・エー（以下、「当社」といいます。）が運営するウェブサイト及び通信端末用アプリケーション「Anyca」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当社が入会を認めた者をいいます。<br>
       ２．本会員は、本規約に基づき本サービスを利用するものとします。<br>
       ３．本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。<br>
       ４．本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       １．本会員とは、Anyca会員規約（以下、「本規約」といいます。）を承認の上、インターネットを使って株式会社ディー・エヌ・エー（以下、「当社」といいます。）が運営するウェブサイト及び通信端末用アプリケーション「Anyca」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当社が入会を認めた者をいいます。<br>
       ２．本会員は、本規約に基づき本サービスを利用するものとします。<br>
       ３．本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。<br>
       ４．本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
    </div>

    <div class="case">
     <p>
       <b>第１条&nbsp;会員資格</b>
     </p>
     <p>
       １．本会員とは、Anyca会員規約（以下、「本規約」といいます。）を承認の上、インターネットを使って株式会社ディー・エヌ・エー（以下、「当社」といいます。）が運営するウェブサイト及び通信端末用アプリケーション「Anyca」（以下、「本サービス」といいます。）の利用のために、会員として入会を申し込み、当社が入会を認めた者をいいます。<br>
       ２．本会員は、本規約に基づき本サービスを利用するものとします。<br>
       ３．本サービス内の各サービスにおいて別途規約（以下、「個別規約」といい、別段の定めのない限り、「本規約」に含まれるものとします。）が定められている場合は、本会員は本規約及び個別規約に基づき本サービスを利用するものとします。なお、本規約と個別規約に定める内容が異なる場合には個別規約に定める内容が優先して適用されるものとします。<br>
       ４．本会員は本会員資格を第三者に利用させ、又は貸与、譲渡、売買、質入等をすることはできないものとします。
     </p>
    </div>


</div>
