<p class="text-center">

サーフ文庫への応募•お問い合わせフォームです。<br>返信は通常24時間以内に行なっております。
</p>
<div class="row">
  <div class=" text-center">
    <div class="panel panel-default">
      <h3>完了画面</h3>

      <h4>
        応募•お問合わせ頂きありがとうございました!
      </h4>
    </div>
  </div>
</div>
