<div class="" id="entry">

  <div class="entry-box" id="top">
    <ul>
     <li id="title" class="">
       <%= link_to "サーフ文庫", entry_path, class: "navbar-brand " %>
     </li>
     <li class="sentence font-md">
       サーフィンのシェアリングサービス
     </li>
     <li class="sentence font-sm">
       サーフィンの<br>シェアリングサービス
     </li>

     <script type="text/javascript">
       $(function(){
        var w = window.innerWidth;
        if (w > 480){

          $(".font-sm").remove();

        }
        if (w <= 480){

          $(".font-md").remove();
          $(".font-sm").append();

        }
        console.log(w);
       });
     </script>

    </ul>

  </div>


  <p class="animated infinite slideOutRight" id="motion">
   <span class="">🌊</span><span class="reverse" >🏄</span>
  </p>

  <nav class="upper">
    <div class="inform text-center">
      <p>
        7月にサービスがオープンします<br>
        湘南と千葉でサーフボードやボード置き場を貸してくれる方を募集中
      </p>
      <p >
        7月30日まで
        <span class="">
          <%= link_to("クラウドファンディング", "https://camp-fire.jp/projects/view/82867"  ) %>
        </span>
        やっています
      </p>
    </div>
  </nav>

<p class="text-center">

サーフ文庫への応募フォームです。<br>返信は通常24時間以内に行なっております。
</p>
<div class="row">
  <div class=" text-center frame">
    <div class="panel panel-default">
      <h3>完了画面</h3>

      <h4>
        応募頂きありがとうございました!
      </h4>
    </div>
  </div>
</div>

</div>
