.navigation__link{
  text-decoration: none;
}

.main-content__page-title{
  font-weight: 400;
}

.navigation__link--active {
    font-weight: 400;
    background-color: #808080;
    color: #ffffff;
}
