<p>こんにちは!チャレンタ!にご登録頂き、ありがとうございます!</p>

<p>下記の内容で仮登録を受け付けております。</p>

<p>Eメール：<%= @email %></p>

<p>本登録を確定する為に、下のリンク先からメールアドレスの認証をお願いします。</p>

<p><%= link_to '認証する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Good surflife with チャレンタ! !!</p>
