<p>サーフ文庫をご利用いただきましてありがとうございます!</p>

<p>以下のリンク先からパスワードの再設定をしてください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記の内容に心当たりがない場合はサーフ文庫までご連絡ください。</p>

<p>Good surflife with サーフ文庫 !!</p>
