<div class="">
  <div style="padding: 2px; text-align: center; background-color: #04b4e4;">
    <p style="color:  #ffffff;">
      サーフ文庫
    </p>
  </div>

  <div class="">
    <p>サーフ文庫をご利用いただきましてありがとうございます!</p>

    <p>以下のリンク先からパスワードの再設定をしてください。</p>

    <p>
      <b>
        <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
      </b>
    </p>
  </div>

  <div style="padding: 2px; text-align: center;  background-color: #04b4e4; " >
    <p style="color:  #ffffff ; " >
      Copyright(C)&nbsp;サーフ文庫&nbsp;All Rights Reserved.
    </p>

  </div>
</div>
